{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


{{ macros.render_entry(entry) }}

<h4><a href="{{ url_for('edit_entry_get', id=entry.id) }}" class="btn btn-default">Edit Post</a></h4>

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}